In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
csv_test = pd.read_csv('KMeans_user.csv')

In [3]:
csv_test.shape

(6040, 19)

In [4]:
csv_test.head(3)

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,user_pk
0,4.20,4.00,4.11,4.25,4.14,4.00,0.0,4.43,4.0,0.0,0.00,4.29,0.00,3.67,4.33,3.67,5.00,0.00,1
1,3.50,3.74,0.00,0.00,3.56,3.58,0.0,3.90,3.0,4.0,3.00,0.00,3.33,3.71,3.59,3.48,3.73,4.33,2
2,3.96,4.00,4.00,4.00,3.77,0.00,0.0,4.00,4.5,0.0,2.67,4.00,3.00,3.80,3.83,3.80,4.00,4.67,3

In [5]:
#비슷하게 평점 나긴 사람

In [6]:
x_columns = ["Action","Adventure","Animation","Children's","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"]
y_column = 'user_pk'

In [7]:
#y컬럼의 문자열값을 labelEncoder를 통해 숫자로 바꾼다
y_true_label_encoder = preprocessing.LabelEncoder()
y_true_encoded       = y_true_label_encoder.fit_transform(csv_test[y_column])
print(list(csv_test[y_column][:5]),'->',list(y_true_encoded[:5])) #샘플출력

[1, 2, 3, 4, 5] -> [0, 1, 2, 3, 4]

In [8]:
kMeansModels              = dict() # k값별 모델 저장할 딕셔너리
kMeansModelPreds          = dict() # k값별 모델 예측 결과 저장할 딕셔너리
kMeansModelLabelEncoder   = dict() # k값별 라벨인코더 저장할 딕셔너리

sumSquaredDistancesList   = list() # 샘플과 클러스터 센터간 거리 제곱의 합 리스트
silhouetteScoreList       = list() # Silhouette Coefficient 평균 리스트

In [12]:
ks = [3] # k값으로 2부터 9까지 테스트한다
for k in ks: # k값 순회
    model = KMeans(n_clusters=k, random_state=0, n_init=100).fit(csv_test[x_columns]) # k개 클러스터로 모델 생성
    model.cluster_centers_
    model.labels_
    result={}
for (idx,user) in enumerate(csv_test[y_column][0:100]):
    if result.get(model.labels_[idx]) :
        result[model.labels_[idx]].append(user)
    else:
        result[model.labels_[idx]]=[user]
print(result)

{0: [1, 2, 4, 7, 11, 12, 14, 20, 21, 37, 38, 43, 45, 46, 47, 50, 52, 55, 57, 61, 64, 66, 67, 69, 71, 72, 77, 80, 84, 85, 87, 88, 89, 94, 95, 98], 1: [3, 6, 8, 13, 15, 16, 18, 26, 27, 28, 29, 32, 34, 35, 39, 40, 41, 44, 51, 54, 60, 70, 73, 75, 76, 78, 79, 82, 83, 86, 90, 91, 92, 93, 96, 97, 99, 100], 2: [5, 9, 10, 17, 19, 22, 23, 24, 25, 30, 31, 33, 36, 42, 48, 49, 53, 56, 58, 59, 62, 63, 65, 68, 74, 81]}